<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <title>Danish Siddiqui - Data Scientist</title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E3TNCLX431"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E3TNCLX431');
</script>

<nav class="bg-gradient-to-r from-[#5f0f40] to-[#fb8b24] py-4 fixed top-0 w-full z-50 left-0">
    <div class="max-w-6xl mx-auto flex items-center justify-between px-6">
      <!-- Logo -->
      <a href="/" class="text-[#FDFFFC] hover:text-[#fb8b24] text-lg font-semibold">Danish!</a>
      
      <!-- Menu items -->
      <ul class="flex space-x-4">
        <li>
            <a href="/" class="text-[#FDFFFC] hover:text-[#5F0F40] transition duration-300 ease-in-out">Home</a>
        </li>
        <li>
          <a href="#" class="text-[#FDFFFC] hover:text-[#5F0F40] transition duration-300 ease-in-out">About Me</a>
        </li>
        <li>
          <a href="/projects" class="text-[#FDFFFC] hover:text-[#5F0F40] transition duration-300 ease-in-out">Projects</a>
        </li>
        <li>
          <a href="https://drive.google.com/file/d/1rjhwSRfw-W9TMjWBydwmwFRKQcCoMjWh/view?usp=sharing" class="text-[#FDFFFC] hover:text-[#5F0F40] transition duration-300 ease-in-out">Resume</a>
        </li>
      </ul>
    </div>
  </nav>


<header class="bg-gradient-to-r from-[#5f0f40] to-[#fb8b24] text-[#E3D8F1] py-12 px-6 relative overflow-hidden">
    {% block header_content %} {% endblock %}
</header>
  
<body class="bg-gradient-to-r from-[#5f0f40] to-[#fb8b24] text-[#E3D8F1] py-12 px-6 relative ">
    
{% block body_content %} {% endblock %}
</body>

<footer class="fixed bottom-0 w-full text-sm text-center py-2">
    This website was made from scratch by Danish Siddiqui using Flask
</footer>

</html>