<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <title>Document</title>
</head>

<nav class="bg-gradient-to-r from-[#5f0f40] to-[#fb8b24] py-4">
    <div class="max-w-6xl mx-auto flex items-center justify-between px-6">
      <!-- Logo -->
      <a href="#" class="text-[#FDFFFC] hover:text-[#fb8b24] text-lg font-semibold">Danish!</a>
      
      <!-- Menu items -->
      <ul class="flex space-x-4">
        <li>
            <a href="#" class="text-[#FDFFFC] hover:text-[#5F0F40] transition duration-300 ease-in-out">Home</a>
        </li>
        <li>
          <a href="#" class="text-[#FDFFFC] hover:text-[#5F0F40] transition duration-300 ease-in-out">About</a>
        </li>
        <li>
          <a href="#" class="text-[#FDFFFC] hover:text-[#5F0F40] transition duration-300 ease-in-out">Projects</a>
        </li>
        <li>
          <a href="#" class="text-[#FDFFFC] hover:text-white transition duration-300 ease-in-out">Resume</a>
        </li>
      </ul>
    </div>
  </nav>


<header class="bg-gradient-to-r from-[#5f0f40] to-[#fb8b24] text-[#E3D8F1] py-12 px-6 relative overflow-hidden">
    <div class="max-w-6xl mx-auto flex flex-col items-center justify-center relative z-10">
      <h1 class="text-4xl font-bold mb-4 tracking-wide">
        <span> 👋 Hey Hey! I'm <br></span>
        <span id="rainbow-text" class="hover:bg-gradient-to-br hover:from-blue-900 hover:to-blue-500 hover:bg-clip-text hover:text-transparent transition-all"><span class="text-9xl font-extrabold hover:text-[#DAFF7D]">Danish Siddiqui</span></span>
      </h1>
      <p class="text-lg mb-8">Math and Stats major with a minor in Economics at the University of Toronto</p>
      <p class="text-lg mb-8">Aspiring Data Scientist</p>
      <div class="flex space-x-4">
        <a href="#" class="bg-white text-[#5F0F40] hover:bg-[#5F0F40] hover:text-white py-2 px-6 rounded-lg transition duration-300 ease-in-out text-lg font-semibold">View Projects</a>
        <a href="#" class="bg-white text-[#5F0F40] hover:bg-[#5F0F40] hover:text-white py-2 px-6 rounded-lg transition duration-300 ease-in-out text-lg font-semibold">Contact Me</a>
      </div>
    </div>
    <div id="gradient-overlay" class="absolute inset-0 bg-gradient-to-br from-[#03045e] to-[#0077b6] opacity-0 pointer-events-none transition-opacity duration-300"></div>
  </header>
  
<body>
    <script src="{{url_for('static', filename='scripts/headerHover.js')}}"></script>

</html>