{% extends "base.html" %}

{% block header_content %}
<header class="bg-gradient-to-r from-[#5f0f40] to-[#fb8b24] text-[#E3D8F1] py-12 px-6 relative overflow-hidden">
<div class="max-w-6xl mx-auto flex flex-col items-center justify-center relative z-10">
    <h1 class="text-4xl font-bold mb-4 tracking-wide">
      <span> 👋 Hey Hey! I'm <br></span>
      <span id="rainbow-text" class="hover:bg-gradient-to-br hover:from-blue-900 hover:to-blue-500 hover:bg-clip-text hover:text-transparent transition-all"><span class="sm:text-7xl md:text-9xl font-extrabold hover:text-[#DAFF7D]">Danish Siddiqui</span></span>
    </h1>
    <p class="text-lg mb-8">Math + Statistics major with a minor in Economics at the University of Toronto</p>
    <p id="aspiring_text" class="text-2xl mb-8 transition-opacity duration-1000">Aspiring Data Scientist</p>

    <div class="flex space-x-4">
      <a href="/projects" class="bg-white text-[#5F0F40] hover:bg-[#5F0F40] hover:text-white py-2 px-6 rounded-lg transition duration-300 ease-in-out text-lg font-semibold">View Projects</a>
      <a href="https://drive.google.com/file/d/1rjhwSRfw-W9TMjWBydwmwFRKQcCoMjWh/view?usp=sharing" class="bg-white text-[#5F0F40] hover:bg-[#5F0F40] hover:text-white py-2 px-6 rounded-lg transition duration-300 ease-in-out text-lg font-semibold">Resume</a>
    </div>
  </div>
  <div id="gradient-overlay" class="absolute inset-0 bg-gradient-to-br from-[#03045e] to-[#0077b6] opacity-0 pointer-events-none transition-opacity duration-300"></div>

  {% endblock %}


{% block body_content %}

<div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-5">
    <a href="#" class="block max-w-sm p-6 bg-[#5F0F40] border border-gray-200 rounded-lg shadow hover:bg-[#9B5DE5] hover:text-[#5F0F40] m-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#FDFFFC]">Data Tools</h5>
        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            R
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            Python
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            SQL
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            Pandas
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            JSON
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            APIs
        </span>


        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            Jupyter Notebook
        </span>

    </a>

    <a href="#" class="block max-w-sm p-6 bg-[#5F0F40] border border-gray-200 rounded-lg shadow hover:bg-[#9B5DE5] hover:text-[#5F0F40] m-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#FDFFFC]">Learning Algorithms</h5>
        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            Linear Regression
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            Logistic Regression
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            Random Forest
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            Decision Trees
        </span>

    </a>

    <a href="#" class="block max-w-sm p-6 bg-[#5F0F40] border border-gray-200 rounded-lg shadow hover:bg-[#9B5DE5] hover:text-[#5F0F40] m-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#FDFFFC]">Data Visualization & Analysis</h5>
        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            Hypothesis Testing
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            PowerBI
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            ggplot2
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            Correlation Analysis
        </span>

        <span class="inline-block whitespace-nowrap rounded-full bg-[#8FE388] px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-[#5f0f40]">
            Data Cleaning
        </span>


    </a>

</div>

<script src="{{url_for('static', filename='scripts/headerHover.js')}}"></script>
<script src="{{url_for('static', filename='scripts/aspiringAnimation.js')}}"></script>


{% endblock %}