{% extends "base.html" %}

{% block header_content %} 
<header class="bg-gradient-to-r from-[#5f0f40] to-[#fb8b24] text-[#E3D8F1] py-8 px-6 relative overflow-hidden">
    <div class="max-w-6xl mx-auto flex flex-col text-left relative z-10">
        <h1 class="text-5xl font-bold mb-4">
        <span> 💻 Web Development <br></span>
        <span id="rainbow-text" class="hover:bg-clip-text hover:text-transparent transition-all"><span class="sm:text-7xl md:text-8xl font-extrabold hover:text-[#DAFF7D]">Projects</span></span>
        </h1>
        <p class="text-lg mb-8">On a mission to make all my web development ideas come to reality</p>
        <p class="text-lg mb-8">(This page is currently under construction.)</p>

    </div>
    <div id="gradient-overlay" class="opacity-0 pointer-events-none transition-opacity duration-300"></div>
</header>
{% endblock %}