<div class="p-2">
    <div class="h-full bg-white opacity-85 border border-gray-200 rounded-md p-3 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1">
        <h2 class="tracking-widest text-xs title-font font-medium text-[#5F0F40] mb-1">{{ project.topic }}</h2>
        <div class="flex flex-col justify-between h-full" style="margin-bottom: 10px;">
            <div>
                <h1 class="title-font sm:text-xl text-lg font-medium text-gray-900 mb-2">{{ project.title }}</h1>
                <p class="leading-relaxed mb-2 text-[#5F0F40]">{{ project.subtitle }}</p>
            </div>
            <div class="mb-6">
                <a href="{{ project.link }}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-[#5F0F40] hover:bg-[#4C0E35] transition-colors duration-300 ease-in-out transform hover:scale-105">
                    <span class="mr-1">Learn More</span>
                    <svg class="w-4 h-4 transition-transform duration-300 ease-in-out transform translate-x-0 group-hover:translate-x-0.5" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
